*.ipr
*.iws
.idea
target/
.cache
*.cache
out
*.class
*.iml
*.log
.log
.idea/
.history
.classpath
.settings
reports/
projects/
dist/
lib_managed/
src_managed/
project/boot/
project/target
project/project
.history
.cache
.lib/
.DS_Store
