
*/*.cache*
*/*.class
*/*.iml
*/*.log
*/*.idea
*/.class
*/.classpath
*/.classpath/
*/.project
*/.settings/
*/*.log
*.log
*/dist/
*/target/
*/lib_managed/
*/src_managed/
*/project/
*/.history
*/.cache
*/.lib/
